body {
    background-color: #282c35;
    color: #f0f0f0;
    padding: 0;
    margin: 0;
    font-family: "Source Han Serif CN", serif
}

#info {
    padding-top: 20vh;
    height: 80vh;
    width: 30vw;
    font-size: 48px;
    background: rgba(256, 256, 256, 0.2);
    text-align: center;
    float: left;
}

.links {
    padding: 30px;
}

.link {
    padding: 10px;
    font-size: 36px;
}

.link:hover {
    transform: translateX(20px);
    background: rgba(256, 256, 256, 0.2);
}

a {
    color: #f0f0f0;
    text-decoration: none;
}


/*.content {*/
/*    width: 100%;*/
/*    text-align: center;*/
/*}*/

/*.title {*/
/*    float: left;*/
/*    !*height: 100%;*!*/
/*    background-color: rgba(256, 256, 256, 0.2);*/
/*}*/

/*.title > h1 {*/
/*    margin: 0;*/
/*    padding: 12vh;*/
/*}*/

/*.links {*/
/*    width: 100%;*/
/*    position: absolute;*/
/*    top: 30vh;*/
/*}*/


/*.links > h2 {*/
/*    padding: 6px;*/
/*}*/

/*.links > h2:hover {*/
/*    margin-left: 20vw;*/
/*    margin-right: 20vw;*/
/*    background-color: rgba(256, 256, 256, 0.2);*/
/*    color: hotpink;*/
/*}*/