<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="theme-color" content="#090822">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>Rainbow Yang's Page</title>

  <link rel="stylesheet" href="index.css">

  <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.15.3/css/all.css" rel="stylesheet">
  <script src="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.15.3/js/all.js"></script>

  <script src="https://unpkg.com/vue@next"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-93934873-3"></script>
  <script>
    window.dataLayer = window.dataLayer || []

    function gtag () {dataLayer.push(arguments)}

    gtag('js', new Date())

    gtag('config', 'UA-93934873-3')
  </script>
</head>
<body>
<div class="color-bar"></div>
<div class="main">
  <div id="content">
    <div class="name"> {{ name }}</div>

    <template v-for="(links, label) in allLinks">
      <div class="label">
        <h2>{{ label }}</h2>
      </div>
      <div class="links">
        <a v-for="link in links" :href="link.href" :title="link.title" target="_blank">
          <button><i :class="link.icon"></i></button>
        </a>
      </div>
    </template>
  </div>
</div>
<script>
  Vue.createApp({
    data () {
      return {
        name: 'Rainbow Yang',
        allLinks: {
          Main: [
            {
              title: '个人博客',
              href: 'https://blog.rainbowyang.moe',
              icon: 'fas fa-home',
            },
            {
              title: 'Github主页',
              href: 'https://github.com/RainbowYang',
              icon: 'fab fa-github',
            },
            {
              title: '发邮件给我',
              href: 'mailto:q1041410345@gmail.com',
              icon: 'fas fa-at',
            },
          ],
          Others: [
            {
              title: '进度管理系统',
              href: 'https://memo.rainbowyang.moe/',
              icon: 'fas fa-landmark',
            }],
        },
      }
    },
  }).mount('#content')
</script>
</body>
</html>
